!!! 5
html(lang='en')
  head
    title Network Debugger
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .background.new
      .header
        .css-logo
          img(src='images/spotterrf-labs-white-logo.png', alt='')
        .css-title Network Debugger
        ul.js-protocol-tab-bar.css-tab-menu
      .css-container.container

      span.js-all-templates.css-hidden
        .js-protocol-templates
          li.js-protocol-tab-template.js-protocol-tab(data-protocol='')
            a.js-tab(data-protocol='')
          .js-protocol-window-template.js-protocol-window.css-inactive(data-protocol='')
            .js-listener-tab-bar.css-tab-bar.css-hidden(data-protocol='')
              li.js-listener-tab.css-listener-tab.css-default-tab(data-protocol='')(listener-port='default')
                a.js-tab(data-protocol='')(listener-port='default')  +
            .js-listener-container.css-ui-tab-view(data-protocol='')
              .js-listener-window.css-tab-container(data-protocol='')(listener-port='default')
                p.css-enter-port Enter the port on which to listen
                .js-listen-form.css-listen-form
                  input.js-portNum.css-portNum(type='text')(data-protocol='')
                  a.js-open-listener.css-button.css-openSocket(data-protocol='') Listen
                .js-listener-stream.css-stream(data-protocol='')(listener-port='default')
                a.css-button.js-clear(data-protocol='')(listener-port='default') Clear

        .js-listener-templates
          li.js-listener-tab-template.js-listener-tab.css-listener-tab
            a.js-tab(data-protocol='')(listener-port='')
            span.js-close-listener-tab.css-close-tab(data-protocol='')(listener-port='') x
          .js-listener-window-template.js-listener-window.css-ui-tab-view(data-protocol='')(listener-port='')
            .js-connection-info.css-connection-info
              .js-connection-status.css-connection-status(data-protocol='')(listener-port='') Connection Status
              a.js-close-listener.css-button(data-protocol='')(listener-port='') Close Connection
            .js-logging-info.css-top.css-right
              .js-logging-options
                p Save packets separately
                  input.js-separate-packets(type="checkbox")(data-protocol='')(listener-port='')
                p.js-log-headers-display Save HTTP headers
                  input.js-save-headers(type="checkbox")(data-protocol='')(listener-port='')
              a.js-toggle-log.css-button.css-log(data-protocol='')(listener-port='')
            .js-listener-stream.css-stream(data-protocol='')(listener-port='')
            a.js-clear-stream.css-button(data-protocol='')(listener-port='') Clear
            .js-scroll-info.css-bottom.css-right
              p Lock scroll to bottom
                input.js-scroll-lock(type="checkbox")(data-protocol='')(listener-port='')

        .js-stream-templates
          span.js-message-template
            .css-streamTime
            span
            br
          span.js-code-template
            .css-streamTime
            pre
              span
              code.highlight-me

    script(src='./vendor/highlight.pack.js', type='text/javascript')
    script(src='pakmanaged.js', type='text/javascript')
