!!! 5
html(lang='en')
  head
    title Network Debugger
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .background.new
      .header
        .css-left
          img.css-logo(src='images/spotterrf-labs-white-logo.png', alt='')
          span.css-title Network Debugger
          span.css-version.js-version
        ul.js-protocol-tab-bar.css-tab-menu
      .css-container.container
        .js-protocol-window.css-inactive(data-protocol='default')
          .js-listener-container(data-protocol='default')
            .js-listener-window.css-listener-window(data-protocol='default')(listener-port='default')
              .js-listener-stream.css-stream(data-protocol='default')(listener-port='default')

      span.js-all-templates.css-hidden
        .js-protocol-templates
          li.js-protocol-tab-template.js-protocol-tab
            a.js-tab.js-always-works
            span.css-hidden
          .js-protocol-window-template.js-protocol-window.css-hidden
            .js-listener-tab-bar.css-tab-bar.css-hidden
              li.js-listener-tab.tab-selected.css-listener-tab.css-default-tab
                a.js-tab.js-always-works  +
            .js-listener-container
              .js-listener-window.css-listener-window
                div.css-top
                  label.js-listen-form.css-listen-form
                    a.js-open-listener.css-button Listen
                    input.js-portNum.css-input-port(type='text')
                    | Enter the port on which to listen
                .js-listener-stream.css-stream
                div.css-bottom
                  span.css-left
                    a.js-clear-stream.js-always-works.css-button Clear
                  label.js-scroll-info.css-right Lock scroll to bottom
                    input.js-scroll-lock.js-always-works(type="checkbox")

        .js-listener-templates
          li.js-listener-tab-template.js-listener-tab.css-listener-tab
            a.js-tab.js-always-works
            span.js-close-listener-tab.css-close-tab x
          .js-listener-window-template.js-listener-window.css-listener-window
            div.css-top
              span.js-connection-info.css-connection-info
                a.js-close-listener.css-button Close Connection
                .js-connection-status.css-connection-status Connection Status
              span.js-logging-info.css-logging-info
                span.js-logging-options.css-logging-options
                  div.js-log-display(variable="separateFiles")
                    label Save packets separately
                      input.js-log-ctrl(type="checkbox")(variable="separateFiles")
                  div.js-log-display(variable="includeHeaders")
                    label Save HTTP headers
                      input.js-log-ctrl(type="checkbox")(variable="includeHeaders")
                span.js-log-display(variable="logData")
                  a.js-log-ctrl.css-button.css-log(variable="logData")
            .js-listener-stream.css-stream
            div.css-bottom
              span.css-left
                a.js-clear-stream.js-always-works.css-button Clear
              label.js-scroll-info.css-right Lock scroll to bottom
                input.js-scroll-lock.js-always-works(type="checkbox")
            //- the li is just to make the listener template more like the protocol
            //- template so we can use the same directive
            li.css-hidden

        .js-stream-templates
          span.js-message-template
            .css-streamTime
            span
            br
          span.js-code-template
            .css-streamTime
            pre.js-always-works
              span
              code.highlight-me

    //- script(src='./vendor/highlight.pack.js', type='text/javascript')
    script(src='main.js', type='text/javascript')
