!!! 5
html(lang='en')
  head
    title Network Debugger
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .background.new
      .header
        .css-logo
          img(src='images/spotterrf-labs-white-logo.png', alt='')
        .css-title Network Debugger
        ul.js-protocol-tab-bar.css-tab-menu
      .css-container.container

      span.js-all-templates.css-hidden
        li.js-protocol-tab-template.js-protocol-tab(data-protocol='')
          a(href='')
        .js-protocol-window-template.js-protocol-window.css-inactive(data-protocol='')
          .js-listener-tab-bar.css-tab-bar.css-hidden(data-protocol='')
            li.js-listener-tab.js-default.css-default
              a(href='')  +
          .js-listener-container.css-ui-tab-view(data-protocol='')
            .js-listener-window.css-tab-container(data-protocol='')(listener-port='default')
              p.css-enter-port Enter the port to listen on
              .js-listen-form.css-listen-form
                input.js-portNum.css-portNum(type='text')(data-protocol='')
                a.js-openSocket.css-button.css-openSocket(data-protocol='') Listen
              .js-listener-stream.css-stream(data-protocol='')(listener-port='default')
              a.css-button.js-clear(data-protocol='')(listener-port='default') Clear

        li.js-listener-tab-template.js-listener-tab
          a(href='')
          span.js-close-tab.css-close-tab(data-protocol='')(listener-port='') x

        span.js-message-template
          span
          br
        span.js-timestamp-template
          .css-streamTime
        span.js-code-template
          pre
            span
            code.highlight-me
        span.js-tab-template

    script(src='./vendor/highlight.pack.js', type='text/javascript')
    script(src='pakmanaged.js', type='text/javascript')

//
  span.js-tab-container-template
        .js-ui-tab-view.css-ui-tab-view.js-all.css-inactive(data-name='')
          span.js-top-template
            .css-log-options
              input.js-include-headers(type="checkbox")
              p Save headers
            .css-listen-form
              span.js-port-num.css-port-num(data-protocol='')(type='text')
            .css-connection-info
              .css-connection-status.js-http-connection-status.off Connection Status
            .css-top.right
              p Save each packet separately
              input.js-http-multifile(type="checkbox")(checked="true")
              a.css-button.js-log.css-log(data-protocol='')
            .js-http-stream.js-all-stream.css-stream
              span.js-allstream-error
          span.js-bottom-template
            .css-left.css-bottom
              a.css-button.css-closeSocket.js-closeSocket(data-protocol='') Close Connection
            .css-center.css-bottom
              a.css-button.js-clear(data-protocol='') Clear
            .css-right.css-bottom
              p Lock scroll to bottom
              input.js-scroll(type="checkbox")(checked="true")(data-protocol='')
